{% extends "index.html" %}



{% block content %}



<div class="container p-5">
<form action="{% url 'addEvent' %}" method="POST" class="form-group" enctype="multipart/form-data">


    {% csrf_token %}




    <table>
        
        <tr>
            <td><label for="">Title</label></td>
            <td>    {{form.title}}

            </td>
        </tr>
           
        <tr>

            <td><label for="">Description</label></td>
            <td>    {{form.description}}
            </td>

            <td><button class=" mx-2 btn btn-warning" id="generate-description">Ai description</button></td>
        </tr>
           
        <tr>
            <td><label for="">Image</label></td>
            <td>    {{form.image}}
            </td>

            <td><button class=" mx-2 btn btn-success" id="generate-image-button">Ai Image</button></td>

            <td>
                <div id="generated-image-container">  </div>

                <input type="hidden" name="generated-image-path" id="generated-image-path">
            </td>
        </tr>
           
        <tr>
            <td><label for="">Category</label></td>
            <td>    {{form.category}}
            </td>
        </tr>

        <tr>
            <td><label for="">Event Date</label></td>
            <td>    {{form.evt_date}}
            </td>
        </tr>

    </table>



    <input type="submit" class="btn btn-primary"  value="Save" name="save" id="">

    
</form>

</div>






    <script>
        document.getElementById('generate-description').addEventListener('click',
        function() {
        const title = document.getElementById('{{ form.title.id_for_label }}').value;
        fetch('{% url "generate_description" %}', {
        method: 'POST',
        headers: {
        
        'Content-Type': 'application/json',
        'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify({ title: title })
        })
        .then(response => response.json())
        .then(data => {
        document.getElementById('{{ form.description.id_for_label }}').value = data.description;
        })
        .catch(error => console.error('Error:', error));
        });
</script>


<script>
    document.getElementById('generate-image-button').addEventListener('click',
    function() {
    const title = document.getElementById('{{ form.title.id_for_label }}').value;
    fetch('{% url "generate_image" %}', {
    method: 'POST',
    headers: {
    'Content-Type': 'application/json',
    'X-CSRFToken': '{{ csrf_token }}'
    },
    body: JSON.stringify(
    { title: title})
    })
    .then(response => response.json())
    .then(data => {
    if (data.image_url) {
    document.getElementById('generated-image-container').innerHTML =
    '<img width="300px" src="' + data.image_url + '" alt="Generated Image">';
    document.getElementById('generated_image_path').value =
    data.image_url;
    console.log(data.image_url)
    } else {
    alert('Error generating image');
    }
    })
    
    .catch(error => {
    alert('Error: ' + error.message);
    });
    });
    </script>

{% endblock %}


{% block footer %}


 {% endblock %}