{% extends 'index.html' %}


{% block content %}
<div class="card mx-5 my-5" style="width: 18rem">
    <img src="{{event.image.url}}" class="card-img-top" alt="..." />

    <div class="card-body">
      <h5 class="card-title">{{event.title}}</h5>

      <p class="card-text">{{event.description}}</p>
      <p class="card-text"> Number of participants : {{event.nbr_participants}}</p>

      <a href="{% url 'update' event.id %} " class="btn btn-warning">Update</a>

      <a href="{% url 'delete' event.id %} " class="btn btn-danger">Delete</a>

      {% if button %}

      <button disabled class="btn btn-success"><a href="{% url 'participer' event.id %} " class="btn btn-success" >Participer</a>
      </button>

      <button class="btn btn-info">
      <a href="{% url 'cancel' event.id %} " class="btn btn-info">Cancel</a>
    </button>

      {% else %}

      <button class="btn btn-success">
      <a href="{% url 'participer' event.id %} " class="btn btn-success" >Participer</a>

    </button>

    <button disabled class="btn btn-info">
      <a href="{% url 'cancel' event.id %} " class="btn btn-info" >Cancel</a>
    </button>
      {% endif %}
    </div>
    <div class="card-footer">
      <small class="text-muted">{{event.evt_date}}</small>
    </div>
  </div>


{% endblock %}