
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>

    {% block nav %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'list' %}">Home</a>
              </li>

           {% if user.is_authenticated %}

              <li class="nav-item">
                <a class="nav-link" href="{% url 'addEvent' %}">Add Event</a>
              </li>

              {% else %}

              {% endif %}
             
            
            </ul>
          
            <div>

              {% if user.is_authenticated %}
             <div class="d-flex justify-content-center align-items-center"> <h6>welcome {{user}}</h6>

              <a href="{% url 'logout' %} " class="btn btn-danger mx-5"> Logout</a>
             </div>
              {% else %}

              <a href="{% url 'register' %}" class="btn btn-warning"> Register</a>

              <a href="{% url 'login' %}" class="btn btn-success"> Login</a>


              {% endif %}
            </div>
          </div>
        </div>
      </nav>
      {% endblock %}



      <div class="vh-100">
      {% block content %}


      {% endblock %}
    </div>

      {% block footer %}

      <div class="card text-center">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-body-secondary">
          2 days ago
        </div>
      </div>
      {% endblock %}
</body>
</html>